@model List<meme_news_mvc.Models.Meme>




@foreach (var meme in Model)
{
    <div>
        <div class="meme-container meme-text">
            <img src=@meme.ImageLocation class='meme-with-text'>
           @Html.Raw(meme.Htmltext)
        </div>
    </div>
}


@*<script src="jquery-3.2.1.min.js"></script>*@
<script src="/Scripts/script.js"></script>

